#map {
    padding-bottom: 75%;

    @include mq($until: 600px) {
    	padding-bottom: 120%;
    }

    @include mq(desktop) {
    	padding-bottom: 60%;
    }

    @include mq(wide) {
    	padding-bottom: 50%;
    }
}

.info-window__title {
	@include fs-headline(2);
	margin: 0;
	margin-bottom: 4px;
	font-weight: 700;
}

.info-window__text {
	@include fs-textSans(4);
	padding: 0;
	margin: 0;
	color: #333;
}