@import "mq";
@import "fonts";

// Uncomment for embeds
// @import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
.element-atom,
.interactive-atom {
    margin: 0 !important;
}



@import "../components/interactive-google-map/styles";

.scale {
    padding-bottom: 6px;
    padding-left: 10px;
}

.scale__section {
    height: 12px;
    width: 12px;
    display: inline-block;
    margin-right: 70px;
    border-radius: 40px;
    box-sizing: border-box;
    line-height: 0; // opacity: 0.75;
    &::before {
        content: attr(data-label);
        @include fs-textSans(2);
        padding-left: 18px; // margin-top: -6px;
        // width: 80px;
        margin-top: 1px;
        font-weight: bold;
        color: #767676;
        white-space: nowrap; // display: block;
    }
}

.scale__title {
    @include fs-textSans(3);
    line-height: 18px;
    display: block;
    margin-bottom: 2px;

    @include mq(mobileLandscape) {
        margin-bottom: -1px;
    }

    font-weight: bold;
}

.int-labels {
    @include fs-textSans(2);

    @include mq($until: 600px) {
        // @include fs-textSans(1);
        font-size: 11px;
        padding-top: 2px;
        line-height: 10px;

        // &:nth-of-type(2n+1) {
        //     display: none !important;
        // }
    }

    display: none !important;
    &:nth-of-type(2n) {
        display: block !important;
    }

    color: rgba(0,0,0,0.9);
    font-weight: bold;
}

.notes {
    @include fs-textSans(2);
    color: #767676;
    padding-top: 4px;
    padding-left: 10px;
}

.labels-title {
    // font-size: 14px;
    display: block;
    margin-bottom: -3px;
    color: #000;
    @include mq($until: 600px) {
        // font-size: 12px !important;
        margin-bottom: 2px;
    }
}